
    override fun onUserWantToRemoveCustomer() {

        AlertDialog.Builder builder = new AlertDialog.builder(this)
        builder.setTitle("confirmation de suppression")
        builder.setMessage("êtes-vous certain de vouloir supprimer cet utilisateur")
        builder.setCancelable(false)
        builder.setPositiveButton("Oui", new DialogInterface.OnClickListener(){
            public void onClick(DialogInterface dialog, int id){
                dialog.cancel();
            }
        })
        builder.setNegativeButton("Non", new DialogInterface.OnClickListener(){
            public void onClick(DialogInterface dialog, int id){
                dialog.cancel();
            }
        })



/*
        Fuel.post(requestHttp.url+"Customer/Remove/" + CustomerSelected.customer.ID)
            .body("picture=" +CustomerSelected.pool.picture)
            .header("Content-Type" to "application/x-www-form-urlencoded")
            .responseString { _, _, result ->
                result.fold({
                    Toast.makeText(customerDetailFragment.context,"Deleted !",Toast.LENGTH_SHORT).show()
                    (customerDetailFragment.activity as CustomerDetailsActivity).onBackPressed()
                }, { err ->
                    println(err.message)
                })
            } */
    }
}
